@charset "ISO-8859-1";


h1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 38px;
}
form {
list-style: none;
margin-bottom: 5px;
}

form label{
float: left;
clear: left;
width: 300px;
text-align: left;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

form input, select, span {
float: left;
margin-bottom: 10px;
width: 500px;
}

form textarea {
float: left;
width: 500px;
height: 150px;
}

[type="submit"] {
clear: left;
margin: 20px 0 0 230px;
font-size:18px;
width: 100px;
}

p {
margin-left: 70px;
font-weight: bold;
}
